body {
    background-color: rgb(37, 34, 34);
}
#container {
    display: flex;
    justify-content: center;
    margin: 5%;  
}
#calculator {
    border-style: solid;
    border-color: rgb(47, 120, 159);
    border-width: 10px;
    border-radius: 5px;
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
    grid-template-columns: auto auto auto auto;
}
button {
    padding: 35px;
    font-size: 25px;
    background-color: rgb(14, 144, 144);
}

#display {
    grid-column: 1 / -1;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    background-color: rgb(28, 84, 84);
    color: azure;
}
.ac {
    grid-column: span 2;
    background-color: rgb(241, 143, 37);
}
.ac:hover {
    background-color: rgba(255, 14, 14, 0.91);
    color: azure;
}

.digit:hover, .decimal:hover, .backspace:hover {
    background-color: rgb(28, 84, 84);
    color: azure;
}
.operator, .percent {
    background-color: rgb(4, 101, 133);
}
.operator:hover, .percent:hover {
    background-color: rgb(1, 70, 139);
    color: azure;
}
.equal {
    background-color: rgb(1, 70, 139);
}
.equal:hover {
    background-color: rgba(1, 70, 139, 0.749);
    color: azure;
}